/*--- Mobile View ---*/
.restaurant-image {
  margin-bottom: 0.8rem;
}

.booking-restaurant-name {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

/*-- Tablet View --*/
@media screen and (min-width: 45rem) {
  .booking-container {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-column-gap: 2rem;
    padding: 0 0.5rem;
  }

  .booking-restaurant-name {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: left;
  }
}
